<div class="container" *ngIf="currentUser; else loggedOut">
    <header >
      <h5>
        <strong>{{ currentUser.username }}</strong> Hobbies
      </h5>
    </header>  
    
  </div>
  <div class="container" *ngIf="currentUser; else loggedOut">

    <form [formGroup]="form" (ngSubmit)="addHobbies()">

      <!-- *ngIf="!isLoggedIn"  -->
      <div class="form-group">
          <label for="hobbies">Hobbies</label>
          <input type="text" class="form-control" formControlName="hobbies" />
          <!-- <div class="alert alert-danger" role="alert" *ngIf="f.hobbies.errors && submitted">
              Username is required!
          </div> -->
      </div>
      
      <div class="form-group">
          <button class="btn btn-primary btn-block">
              Add Hobbies!
          </button>
      </div>
      <!-- <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
              Login failed: {{ errorMessage }}
          </div>
      </div> -->
  </form>


  </div>

  
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>