<div class="container text-center">
    <!-- <h1>{{title}}</h1> -->
  </div>
  <div class="container">
    <div class="row">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>User Id</th>
          <th>Add Friend</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.firstName}} {{user.lastName}} </td>
          <td>{{user.username}}</td>
          <td>{{user.userId}}</td>
          <td><button class="btn btn-outline-success my-2 my-sm-0" 
            (click)="addFriend(user.userId)"
            routerLink="profile">Add Friend</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
