<div class="container" *ngIf="currentUser; else loggedOut">
  <header>

    <h3>
      <strong>{{ currentUser.username }}</strong> profile
    </h3>

  </header>

</div>
<div class="container" *ngIf="currentUser; else loggedOut">
  <h4>My Hobbies</h4>
  <ul class="list-group">
    <li class="list-group-item">{{user.hobbies}}</li>
  </ul>

</div>

<div class="container" *ngIf="currentUser; else loggedOut">
  <h4>List of Friends</h4>
  <ul class="list-group">
    <li class="list-group-item">**</li>
    <li class="list-group-item">**</li>
    <li class="list-group-item">**</li>
  </ul>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>